/* Importing Fonts */
@import url('./font-fam.css');

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Avenirltstd roman - 400", "serif";
}

body {
    line-height: 1.6;
}

p {
    font-family: "Avenirltstd roman - 400", "serif";
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Tiemposheadline - 400 italic", serif;
}
.whatsapp{
  bottom: .5rem;
  right: .5rem;
  float: right;
  z-index: 1000;
  position: fixed;
}
.whatsapp img,.phone img{
  width: 3rem;
}
.whatsapp img:hover,.phone img:hover{
  transition: .1s ease-in-out;
  width: 3.2rem;
}
.phone{
  bottom: 3.5rem;
  right: .5rem;
  float: right;
  z-index: 1000;
  position: fixed;
}
a {
    color: #b88702 !important;
    letter-spacing: .2rem;
    text-underline-offset: .2rem;
    font-family: "Tiemposheadline - 400", serif;
}

.home-content {
    overflow-x: hidden;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

/* Header Styling */
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 10px 20px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    font-style: italic;
}

header .logo img {
    height: 6rem;
    position: relative;
    z-index: 2;
}

header ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header ul li {
    margin: 0 15px;
}

header ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s ease;
}

header ul li a:hover {
    color: #f4b400;
}

/* Hamburger Icon */
.menu-icon{
  display: flex;
  justify-content: space-between;
  cursor: pointer;}

.menu-text{
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 1.4rem;
  margin-right: .5rem; 
  transition: display 0.3s ease; 
  cursor: default;
  color: #8F2422 !important;
}
.hamburger.menu-active ~ .menu-text{
  display: none !important;
}

.hamburger {
    z-index: 1000;
}
.hamburger a {
  color: white !important;
}
.hamburger .line,
.hamburger .line1,
.hamburger .line3 {
    height: 2px;
    background-color: #ae8104;
    display: block;
    margin: 8px auto;
    transition: all 0.2s ease-in-out;
}
.hamburger .line1,
.hamburger .line3 {
    width: 35px;
}

.hamburger .line {
    width: 20px;
}
.hamburger:hover {
    cursor: pointer;
}

.hamburger.menu-active .line1 {
    transform: translateY(15px) rotate(45deg);
    background-color: #f1f1f1;
}

.hamburger.menu-active .line {
    opacity: 0;
}

.hamburger.menu-active .line3 {
    transform: translateY(-5px) rotate(-45deg);
    background-color: #f1f1f1;

}

/* Overlay Menu */
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(33, 30, 30, 0.953);
    overflow-y: hidden;
    transition: 0.5s;
}
.overlay .social{
  display: flex;
  opacity: 0; /* Initially hidden */
  justify-content:center;
  position: relative;  /* Positioning it relative to the overlay */
  bottom: 1rem;        /* Adjust the distance from the bottom */
  width: 100%;         /* Ensure it takes the full width of the overlay */
  top: 60% ;
  transform: translateY(-20px);    /* Start slightly above */
  transition: all 0.5s ease;       /* Smooth transition */
  z-index: 1000;
}
.social a {
  font-size: 15px !important;
  padding: 0 .5rem !important;
  font-family: "Avenirltstd roman - 400", "serif";
  font-style: normal;
  letter-spacing: .4rem !important;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 28px;
  color: #f1f1f1 !important;
  letter-spacing: .25rem;
  background: linear-gradient(#f4b30067 0 0) 
    bottom left/
    var(--underline-width, 0%) 0.125rem
    no-repeat;
  display: block;
  padding: 0;
  transition: background-size 0.2s linear;
}

.overlay a:hover,
.overlay a:focus {
  --underline-width: 100%;
}

.menu-content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 35%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  opacity: 0; /* Initially hidden */
  transform: translateY(300px); /* Initially off-screen */
}

.menu-content.animate,.social.animate{
  animation: raiseUp 1s ease-out both; /* Trigger the animation when the class is added */
  animation-delay: .1s; /* You can control delay */
  transform: translateY(0);        /* Slide to original position */
}

.social.animate{
  animation: raiseUp 1s ease-out both; /* Trigger the animation when the class is added */
  animation-delay: .2s; /* You can control delay */
}

/* Slide-in Keyframes */
@keyframes raiseUp {
from {
  opacity: 0;
  transform: translateY(150px); /* Start off-screen */
}
to {
  opacity: 1;
  transform: translateY(0); /* Slide into view */
}
}

/* Slide Section */
.slide {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    transition: cubic-bezier(0.075, 0.82, 0.165, 4);
}

/* Hero Section */
#hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./media/hero.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#hero h1 {
    font-size: 3.5rem;
    letter-spacing: 2rem;
}

#hero p {
    font-size: 2rem;
    margin: 1rem 0;
    letter-spacing: 0.3rem;
}
#heroend{
  position:relative;
  bottom: -15rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1rem !important;
  letter-spacing: 1rem !important;
  color: rgba(255, 255, 255, 0.293);
  text-align: center;
}

/* Massage Sections */
#massages, #massages2, #massages3, #massages4, #massages5 {
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./media/Couple-massage.jpg'); */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    color: white;
    background-color: #f9f9f9;
}
#massages {
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./media/Couple-massage.jpg');
}
#massages2 {
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./media/royal-massage.jpg');
}
#massages3 {
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./media/abhyangam-ayurveda-treatment.jpg');
}
#massages4 {
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./media/Cupping_Therapy.jpg');
}
#massages5 {
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./media/thai-foot.jpg');
}

.massage-cont {
    display: grid;
    grid-template-rows: repeat(4, 120px);
    grid-template-columns: repeat(6, 200px);
    gap: 1rem;
    margin-top: 7rem;
    justify-content: center;
    margin-left: 4rem;
}

.massage-cont h2 {
  font-size: 3.7rem;
}

#massages p {
  font-size: 15px;
}
.massage-cont{
  /* border: 3px dotted rgb(255, 255, 255); */
  display: grid;
  grid-template-rows: repeat(4 , 120px);
  grid-template-columns: repeat(6,200px);
  gap: 1rem;
  margin-top: 7rem;
  justify-content: center;
  margin-left: 4rem ;
  
}
/* .massage-cont >* {
  outline: 2px solid greenyellow;
} */
.massage-head{
  grid-row: 1 /1 ;
  grid-column: 2 /4;
  /* font-weight: 900; */
  font-style: italic;
  
}
.sub-head {
  grid-row: 1 /1 ;
  grid-column: 4 /6;
  align-self: flex-end;
}
.massage-info{
  grid-row: 2 / 3 ;
  grid-column: 3/5;
  margin-top: 3.5rem;
}
.massage-price{
  grid-row: 3 / 4 ;
  grid-column: 3 /5;
  padding-top: 3.5rem;
}
.massage-price p, .massage-price-2 p,.massage-price-3 p{
  line-height: 1.5rem;
  font-style: italic;
  font-family: "tiempos",sans-serif !important;

}
.massage-book{
  grid-row: 4 /4 ;
  grid-column: 3 /5;
  margin-top: -0.5rem;
}
.massage-info-2{
  grid-row: 2 / 3 ;
  grid-column: 4/6;
  margin-top: .5rem;
}
.massage-price-2{
  grid-row: 3 / 5 ;
  grid-column: 4 /6;
  margin-top: 3.5rem;
}
.massage-book-2{
  grid-row: 4 /5 ;
  grid-column: 4 /5;
  margin-top: .5rem;
}
.sub-head-3{
  margin-top: 3rem;
  grid-area: 2/2 /2 /5;
}
.massage-info-3{
  grid-row: 3 / 3 ;
  grid-column: 2/6;
  margin-top: .5rem;
}
.massage-price-3{
  grid-row: 4 / 5 ;
  grid-column: 2 /6;
  margin-top: 3.5rem;
}
.massage-book-3{
  grid-row: 5 /5 ;
  grid-column: 2 /5;
  margin-top: -1.5rem;
}
.autoShow{
  animation: autoShowAnimation both;
  animation-timeline: view(70% 5%) ;
}
@keyframes autoShowAnimation {
  from{
    opacity: 0;
    transform: translateY(200px) scale(0.3);
  }to{
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}

.instagram:hover {
  background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045) !important; /* Apply the gradient */
  -webkit-background-clip: text !important; /* Clip the background to the text */
  background-clip: text !important; 
  color: transparent !important; /* Make the text color transparent to allow the gradient to show */
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out !important;
}
.facebook:hover {
  background: linear-gradient(to right, #4267B2, #00C6FF, #0077B5) !important; /* Blue gradient for Facebook */
  -webkit-background-clip: text !important; /* Clip the background to the text */
  background-clip: text !important;
  color: transparent !important; /* Make the text color transparent to allow the gradient to show */
}

/* Responsive Styles */
@media (max-width: 768px) {
    h2 {
        font-size: 2rem !important;
    }

    p {
        font-size: 1rem !important;
        line-height: 1.4;
    }
    header ul {
        flex-direction: column;
        align-items: center;
    }
    .menu-text{
      display: none !important;
    }
    header ul li {
        margin: 10px 0;
    }

    header .logo img {
        height: 4rem;
    }

    #hero h1 {
        font-size: 2.5rem;
        letter-spacing: 1rem;
    }

    #hero p {
        font-size: 1.5rem;
        letter-spacing: 0.2rem;
    }

    .massage-cont {
        grid-template-rows: repeat(5, 100px);
        grid-template-columns: 1fr;
        gap: 0.5rem;
        margin: 1rem;
    }

    .massage-cont > * {
        margin: 0;
    }

    .massage-head,
    .sub-head,
    .sub-head-3,
    .massage-info,
    .massage-info-2,
    .massage-info-3,
    .massage-book,
    .massage-book-2,
    .massage-book-3,
    .massage-price,
    .massage-price-2,
    .massage-price-3 {
        grid-column: 1 / 1; /* Full width for mobile */
    }

    .massage-head {
        grid-row: 1 / 1;
    }

    .sub-head,
    .sub-head-3 {
        grid-row: 2 / 2;
    }

    .massage-info,
    .massage-info-2,
    .massage-info-3 {
        grid-row: 3 / 5;
    }

    .massage-price {
        grid-row: 5 / 5;
        padding-top: 1rem;
    }

    .massage-price-2 {
        grid-row: 5 / 5;
        padding-top: 2rem;
    }

    .massage-price-3 {
        grid-row: 5 / 5;
        padding-top: 3rem;
    }

    .massage-book {
        grid-row: 6 / 6;
    }

    .massage-book-2 {
        grid-row: 6 / 6;
    }

    .massage-book-3 {
        grid-row: 6 / 6;
    }

    footer {
        padding: 10px 0;
    }

    .menu-content {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 15%;
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 480px) {
  h2 {
      font-size: 1.8rem;
  }

  p {
      font-size: 12px;
  }

  header ul {
      flex-direction: column;
      align-items: center;
  }

  header ul li {
      margin: 8px 0;
  }

  header .logo img {
      height: 3rem;
  }

  #hero h1 {
      font-size: 2rem;
      letter-spacing: 0.8rem;
  }

  #hero p {
      font-size: 1.2rem;
      letter-spacing: 0.1rem;
  }

  .massage-cont {
      grid-template-columns: 1fr;
      margin: 1rem;
  }

  .massage-info, .massage-price, .massage-book {
      grid-column: 1 / -1;
  }

  footer {
      padding: 8px 0;
  }


  .menu-content {
      top: 20%;
      font-size: 18px;
  }
}
@media (max-height:900px) {
  .overlay .social {
    top: 50% !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  h2 {
      font-size: 2rem;
  }

  p {
      font-size: 1rem;
  }

  header ul {
      flex-direction: row;
      justify-content: space-around;
  }

  header ul li {
      margin: 10px;
  }

  header .logo img {
      height: 5rem;
  }

  #hero h1 {
      font-size: 3rem;
      letter-spacing: 1.5rem;
  }

  #hero p {
      font-size: 1.8rem;
      letter-spacing: 0.25rem;
  }
  .menu-content {
      top: 25%;
  }
  .massage-cont{
    margin-top: -5rem;
    margin-right: 5rem;
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .massage-head{
  grid-row: 1/1;
  grid-column: 4/6;
  }
  .sub-head,.sub-head-3{
    grid-row: 2/2;
    grid-column: 4/6;
  }
  .massage-info,.massage-info-2,.massage-info-3{
    grid-row: 3/3;
    grid-column: 4/6;

  }
  .massage-price,.massage-price-2,.massage-price-3{
    grid-row: 4/4;
    grid-column: 4/6;

  }
  .massage-book,.massage-book-2,.massage-book-3{
    grid-row: 5/5;
    grid-column: 4/6;

  }
}
